{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2> <p></p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success ml-2" type="submit">Log In</button>
        <br><br>
        <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
        <br><br>
        <a href="{% url 'accounts:signup' %}">If you do not have an account, Sign Up!</a>
        <br><br>
        <a href="{% url 'quiz:home' %}">Go to the HomePage</a>
    </form>
{% endblock content %}